.fourteen-segment-display {
    display: block;
    direction: rtl;
    .digits {
        font-family: 'DSEG14';
        font-style: italic;
        font-weight: bold;
        position: absolute;
    }
}