seven-segment-display {
    position: relative;
    
    .digits {
        font-family: 'DSEG7';
        font-style: italic;
        font-weight: bold;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    .background {
        @extend .digits;
        color: rgba(0,0,0,0.1);
    }
    
    .foreground {
        @extend .digits;
        color: rgba(0,0,0,1.0);
    }
}